<br>

<div class="container">
  <div *ngIf="submitErr" class="alert alert-danger">
    {{submitErr}}
  </div>
  <form class="form-horizontal flex">
    <div class="form-group row">
      <label class="control-label col-sm-2" for="fname">First Name:</label>
      <input type="text" class=" col-sm-10" id="fname" name="fname" required [(ngModel)]="user.FirstName">
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="lname">Last Name:</label>
      <input type="text" class=" col-sm-10" id="lname" name="lname" required [(ngModel)]="user.LastName">
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="eid">Employee ID:</label>
      <input type="text" class=" col-sm-5" id="eid" name="eid" required [(ngModel)]="user.EmployeeId">
    </div>
    <div class="form-group float-sm-right">
      <button type="submit" class="btn btn-outline-info defaultbutton m-2" (click)='AddUpdateUser()'>{{buttoncaption}}</button>
      <button type="reset" class="btn btn-outline-warning defaultbutton m-2" flex="25" (click)='Reset()'>Reset</button>
    </div>
  </form>
</div>
<br>
<br>
<div>
  <hr class="mainseparator">
</div>

<div class="container">
  <form class="form-horizontal">
    <div class="row">
      <input type="text" class=" col-sm-3 m-2" id="lsearch" name="term" placeholder="Search..." [(ngModel)]="term">
      <label class=" cenallign m-2">Sort:</label>
      <button class="btn btn-outline-info  m-2" (click)="SortByFirstName()">First Name</button>
      <button class="btn btn-outline-info  m-2" (click)="SortByLastName()">Last Name</button>
      <button class="btn btn-outline-info  m-2" (click)="SortById()">Id</button>
    </div>

    <div *ngFor="let usr of users | filter: term | orderBy: sortBy">
      <hr style="border-top:dotted 1px; color:black">
      <div class = "col-sm-12 row">
          <div class="greyback">
        
      <div class="row">
        <label class=" col-sm-8" id="lfname">{{usr.FirstName}}</label>
      </div>
        <div class="row">
        <label class="col-sm-8 " id="lnname">{{usr.LastName}}</label>
        </div>
        <div class="row">
        <label class="col-sm-4 " id="lid">{{usr.EmployeeId}}</label>              
        </div>
        </div>
      
      
      <div class="col-sm-4 text-right">  
          <button class="btn btn-default defaultbutton m-2" (click)="EditUser(usr.EmployeeId)">Edit</button>
        
        <button class="btn btn-default defaultbutton m-2" (click)="DeleteUser(usr.EmployeeId)">Delete</button>
      </div>
      </div>
    </div>
    
  </form>
  <hr style="border-top:dotted 1px; color:black">
</div>